#animals-container {
    background-color: #EBECEE;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(200px + 20px);
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}

#carousel-controls {
    display: flex;
    align-items: center;
}

#prev-btn,
#next-btn {
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
}

#prev-btn img, #next-btn img {
    width: 50px; 
}

#prev-btn {
    left: 0;
}

#next-btn {
    right: 0;
}

article {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.article img {
    width: 100px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h3 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 0;
    font-weight: bold;
}

.caracteristicas {
    font-size: 13px;
    text-align: center;
}