#animals-container {
    background-color: #EBECEE;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#carousel-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(200px + 20px);
    margin-top: 30px;
    width: 100%;
    justify-content: baseline;
    cursor: pointer;
}

#carousel-controls {
    display: flex;
    align-items: center;
}

#prev-btn,
#next-btn {
    cursor: pointer;
    padding: 5px 10px;
    position: absolute;
}

#prev-btn img, #next-btn img {
    width: 50px; 
}

#prev-btn {
    left: 0;
}

#next-btn {
    right: 0;
}

article {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex: 0 0 250px;
    flex-direction: column;
    height: auto;
    margin: 0 10px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

#carousel article a {
    text-decoration: none;
    color: black;
}

#carousel article a:hover {
    color: #007bff;
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.caracteristicas {
    font-size: 13px;
}